html, body{
    font-family: Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background:#fff;
}

form{
    margin:15px 0;
}
form input[type="text"]{
    border:2px solid #000;
    border-radius: 5px;
    padding:5px;
    width:75%;
}
form input[type="submit"]{
    background: #ee1c30;
    border:none;
    border-radius: 5px;
    color:#FFF;
    cursor:pointer;
    font-weight: bold;
    padding:7px 5px;
    width:19%;
}
#historico_mensagens, #lista_usuarios{
    background: #FFF;
    height: calc(100vh - 113px);
    float:left;
    margin-bottom: 10px;
    width:100%;
    overflow: auto;
}
#historico_mensagens{
    border-right: 0;
}
#lista_usuarios{
    border-left: 1px solid #45C5BF;
    height: 100%;
    width: 20%;
}
#sala_chat{
    display: none;
    max-width: 700px;
    margin: auto;
}
#acesso_usuario{
    height:30px;
    left:50%;
    margin-left:-160px;
    margin-top:-15px;
    position: fixed;
    top:50%;
    width:320px;
}
#acesso_usuario form{
    margin:0;
}
#chat{
    display: flex;
}
#texto_mensagem{
    width: 100%;
    margin: 2px
}
#enviar{
    width: 25%;
    margin: 2px
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
#conversa{
    display: flex;
}